<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="OverlayTolerance" value="100"/>
    <add key="AreaTolerance" value="0.1"/>

    <add key="NewOverlayTolerance" value="10"/>
    <!-- 新增耕地允许超出项目范围的面积 -->
    <add key="NewAreaTolerance" value="0.1"/>
    <!-- 新增耕地图数不一致时容差百分比-->
  </appSettings>
  <connectionStrings>
    <add name="LC" connectionString="Data Source=192.168.1.124;Initial Catalog=lcchecker;User ID=root;Password=Ztop123$%^" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
