################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.suo
/LCChecker/LCChecker/obj/Debug
/LCChecker/LCChecker/bin
/LCChecker/LCChecker/Uploads/衢州市
/LCChecker/packages
/LCChecker/LCChecker/ExcelTemplates
/LCChecker/LCChecker/obj/Release/Package/PackageTmp
/LCChecker/LCChecker/obj/Release
*.user
/LCChecker/LCChecker/Uploads
/LCChecker/CoordAnalyseService/obj/Debug
LCChecker/CoordAnalyseService/Fakes/ESRI.ArcGIS.System.fakes
LCChecker/LCChecker/App_Data
/LCChecker/LCChecker.sln.ide
/LCChecker/UpgradeLog.htm
