################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LCChecker/LCChecker/obj/Debug
/LCChecker/LCChecker/bin
/LCChecker/packages
/LCChecker/LCChecker/Uploads/衢州市
