@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section nav{
    <li><a href="/admin/">项目统计</a></li>
    <li><a href="/admin/projects">项目列表</a></li>
    <li><a href="/admin/users">用户管理</a></li>
    <li><a href="/admin/addUser">添加用户</a></li>
}
@RenderBody()