@using LCChecker.Models
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "市区项目概况";
    Dictionary<City, Summary> data = ViewBag.Summary;
}
@*<div class="col-lg-6">
    <blockquote>
        <p><i class="glyphicon glyphicon-stats"></i>&nbsp;<a href="/admin/statistics/">项目统计</a></p>
        <small>查看所有城市的自检表、报部表、坐标点存疑的项目检验概况</small>
    </blockquote>
</div>
<div class="col-lg-6">
    <blockquote>
        <p><i class="glyphicon glyphicon-check"></i>&nbsp;<a href="/admin/projects/">自检表列表</a></p>
        <small>查看所有城市的自检表项目列表</small>
    </blockquote>
</div>
<div class="col-lg-6">
    <blockquote>
        <p><i class="glyphicon glyphicon-map-marker"></i>&nbsp;<a href="/admin/coordprojects/">坐标点存疑</a></p>
        <small>查看所有城市的坐标点存疑项目列表</small>
    </blockquote>
</div>
<div class="col-lg-6">
    <blockquote>
        <p><i class="glyphicon glyphicon-user"></i>&nbsp;<a href="/admin/users/">用户管理</a></p>
        <small>查看、添加、删除用户</small>
    </blockquote>

</div>*@
