.part_one_body {
    border-style:solid;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    border-left:1px solid #eee;
    border-right-width:4px;
    border-right-color:#5bc0de;
}

.part_two_body {
    border:solid;
    border-top:1px solid #eee;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    border-left-color:#5bc0de;
    border-left-width:2px;
}
