@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>
<a href="/User/DownReportExcelIndex2" class="btn btn-parimary">表2</a>
<a href="/User/DownReportExcelIndex3" class="btn btn-parimary">表3</a>
<a href="/User/DownReportExcelIndex4" class="btn btn-parimary">表4</a>
<a href="/User/DownReportExcelIndex5" class="btn btn-parimary">表5</a>
<a href="/User/DownReportExcelIndex6" class="btn btn-parimary">表6</a>
<a href="/User/DownReportExcelIndex7" class="btn btn-parimary">表7</a>
<a href="/User/DownReportExcelIndex8" class="btn btn-parimary">表8</a>
<a href="/User/DownReportExcelIndex9" class="btn btn-parimary">表9</a>