@using LCChecker;
@using LCChecker.Models;
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "报部表管理";
    List<Report> list = ViewBag.List;
}
<div class="alert alert-warning">
    1. 请严格按照样表填写报部表格。<br />
    2. 请注意表4，表5，表8的项目与表三（下载）项目的对应关系，系统检查后会若提示不一致，请与省国土厅联系并进行说明。<br />
    3. 表六请提供空白纸质表<br />
    4. 在自检表中项目全部检验通过后，再进行报部表的检查
</div>
<table class="table">
    <tr>
        <th>表单名称</th>
        <th>检查结果</th>
        <th>样表下载</th>
        <th style="width: 200px;">上传验证</th>
    </tr>

    @{
        foreach (var item in list)
        {
            var typeValue = (int)item.Type;
        <tr>
            <td>@(item.Type + "：" + item.Type.GetDescription())</td>
            <td>
                @if (item.Result.HasValue)
                {
                    if (item.Result.Value)
                    {
                    <span class="label label-success">通过</span>
                    }
                    else
                    {
                    <span class="label label-warning">失败</span>
                    }
                }
                else
                {
                    <span class="label label-default">未检查</span>
                }
            </td>
            <td>
                <a href="/templates/@(item.Type.ToString()).xlsx" class="btn btn-sm btn-primary">下载</a>
            </td>
            @*            <td>
                <a href="/User/DownloadReport?type=@(typeValue)" class="=btn btn-sm btn-primary">下载表单</a>
            </td>*@
            <td>
                @if (item.Result != true)
                {
                    <form method="post" action="/user/uploadreport?type=@(typeValue)" class="form-inline" enctype="multipart/form-data">
                        <input type="file" name="file" class="form-control input-sm" style="width: 100px;" />
                        <button type="submit" class="btn btn-sm btn-success">上传</button>
                    </form>
                }
            </td>

        </tr>
        }
    }
</table>
