@using LCChecker.Models;
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "报部表管理";
    List<Report> list = ViewBag.List;
}
<table class="table">
    <tr>
        <th>表单名称</th>
        <th>下载地址</th>
        <th style="width: 200px;">上传验证</th>
    </tr>

    @foreach (var item in list)
    {
        var typeValue = (int)item.Type;
        <tr>
            <td>@item.Type</td>
            <td>
                <a href="/User/downReportExcelIndex@(typeValue)" class="=btn btn-sm btn-primary">下载表单</a>
            </td>
            <td>
                @if (item.Result != true)
                {
                    if (typeValue == (int)ReportType.重点复核确认项目设计二调新增耕地项目清单)
                    {
                    }
                    else
                    {
                    <form method="post" action="/user/UploadProjects?id=@(typeValue)" class="form-inline" enctype="multipart/form-data">
                        <input type="file" name="file" class="form-control input-sm" style="width: 100px;" />
                        <button type="submit" class="btn btn-sm btn-success">上传验证</button>
                    </form>
                    }
                }
            </td>

        </tr>
    }
</table>
