@model  Dictionary<string ,List<string>>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>检查结果</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <h5 class="text-center">你上传的表格 存在以下错误</h5>
            <table class="table">
                <tr>
                    <th>编号</th>
                    <th>错误信息</th>
                </tr>
                @foreach (var item in Model.Keys)
                {
                    <tr>
                        <td>@item</td>
                        <td>
                            @foreach (var ittem in Model[item])
                            {
                                <p>@ittem</p> 
                            }
                        </td>
                    </tr> 
                }
            </table>
        </div>
        <div class="row">
             @Html.ActionLink("下载提交表格中的错误", "DownErrorExcel", "Check", new { file="sub"}, new { @class="btn btn-primary"})
            @Html.ActionLink("下载总表中存在的错误", "DownErrorExcel", "Check", new { file="sum"}, new { @class="btn btn-success"})
        </div>
    </div>
</body>
</html>
