@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>第一次提交</title>
</head>
<body>
    <div>
        <span>这是你的第一次提交  很不幸，在提交过程中 创建数据总表失败，请再次提交</span>
    </div>
</body>
</html>
