@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>成功</title>
</head>
<body>
    <div>
        <span >你已经成功修改表格</span>
    </div>
</body>
</html>
