<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@(ViewBag.Title == null ? "浙江省土地整治项目核查平台" : ViewBag.Title + " - 浙江省土地整治项目核查平台") </title>
    <link rel="stylesheet" href="/content/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/content/bootswatch.min.css" media="screen">
    <link rel="stylesheet" href="/content/main.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="/scripts/html5shiv.js"></script>
      <script src="/scripts/respond.min.js"></script>
    <![endif]-->
    <script src="/scripts/jquery-1.9.1.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    @{
        LCChecker.Models.User user = ViewBag.CurrentUser;
    }
</head>
<body>
    <!--[if lte IE 8]>
        <div class="ie-warning">
            您使用的浏览器版本(IE内核)过低，请升级您的IE或者使用火狐浏览器或其他浏览器的极速模式。
        </div>
    <![endif]-->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">浙江省土地整治项目核查平台</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    @RenderSection("nav", false)
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (user != null)
                    {
                        <li><a href="/home/logout"><i class="glyphicon glyphicon-user"></i>&nbsp;@(user.Username)&nbsp;退出</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <br />
        <div class="panel panel-default" id="main-panel">
            <div class="panel-heading">
                <h3 class="panel-title">@(ViewBag.Title) </h3>
            </div>
            <div class="panel-body">
                @RenderBody()
            </div>
        </div>
        <footer style="clear: both; overflow: hidden;">
            <div class="row">
                <div class="col-lg-12">
                    &copy;2014 版权所有 技术支持电话：18605713881 技术支持Q群：361300386
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
