@{
    if (Model == null)
    {
        return;
    }
    var page = Model as LCChecker.Models.Page;
    if (page.PageSize == 0)
    {
        page.PageSize = 10;
    }
    
}

<ul class="pagination">
    <li><a href="?page=1">首页</a></li>
    @if (page.PageIndex > 1)
    { 
        <li><a href="?page=@(page.PageIndex - 1)">上一页</a></li>
    }
    @if (page.PageIndex < page.PageCount - 1)
    { 
        <li><a href="?page=@(page.PageIndex + 1)">下一页</a></li>
    }
    <li><a href="?page=@(page.PageCount)">尾页</a></li>
    <li><a>@(page.PageIndex)/@(page.PageCount)</a></li>
</ul>
