@model IEnumerable<LCChecker.Models.Mistake>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>检查</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Error</td>
                    <td>@item.flag</td>
                </tr> 
            }
        </table>

        @Html.ActionLink("下载错误表格", "", "Check", new { }, new { @class="btn btn-danger"})
    </div>
</body>
</html>
